p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
    font-size: large;
}
#contenedor {
    background-color: brown;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    margin-top: 25px;
}

.cabecera{
    border: red 3px;
}